# ===== BACKEND =====
backend/venv/
backend/.venv/
backend/*.db
backend/*.sqlite
backend/instance/backups/
backend/__pycache__/
backend/.env

backend/app/__pycache__/
backend/app/routes/__pycache__/
backend/.env



# ===== FRONTEND (will create soon) =====
frontend/node_modules/
frontend/build/
frontend/.env.local

frontend/.env
frontend/.env.development
frontend/.env.production

# ===== GENERAL =====
.DS_Store
.vscode/
.idea/
*.log